.text .de1, .text .de2 {-moz-user-select: text;-khtml-user-select: text;-webkit-user-select: text;-ms-user-select: text;user-select: text;
margin:0; padding: 0 8px; background:none; vertical-align:top;color:#000;border-left: 1px solid #ddd; margin: 0 0 0 -7px; position: relative; background: #ffffff;}
.text  {color:#ACACAC;}
.text .imp {font-weight: bold; color: red;}
.text li, .text .li1 {-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;
}
.text .ln {width:1px;text-align:right;margin:0;padding:0 2px;vertical-align:top;}
.text .ln-xtra, .text li.ln-xtra, .text div.ln-xtra {background:#FFFF88;}
.text span.xtra { display:block; }

/*
     FILE ARCHIVED ON 18:07:01 Oct 03, 2022 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 04:17:13 May 13, 2023.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 159.437
  exclusion.robots: 0.079
  exclusion.robots.policy: 0.068
  cdx.remote: 0.059
  esindex: 0.01
  LoadShardBlock: 44.242 (3)
  PetaboxLoader3.datanode: 52.767 (4)
  load_resource: 63.888
  PetaboxLoader3.resolve: 43.748
*/